<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    {{! Fonts }}
    <link rel='stylesheet' href='https://use.typekit.net/xol7xgn.css' />
    {{! CSS }}
    <link rel='stylesheet' href='/css/reset.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <title>Top 50 Best Bars Canada</title>
  </head>
  <body>
    {{! Page Container }}
    <div class='page-container flex'>
      {{! Header }}
      <header>
        <nav>
          <ul>
            <li>Sign Up</li>
          </ul>
        </nav>
      </header>
      <main class='flex'>
        <h1>Top 50 Best Bars Canada 2023</h1>
        <h3>Explore Canada's vibrant cocktail scene with our comprehensive guide
          to the top 50 cocktail bars, as voted in 2023.</h3>
      </main>
      <footer>
        <p>Copyright</p>
      </footer>
    </div>
  </body>
</html>