<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    {{!-- <meta http-equiv='Content-Security-Policy' content='default-src *' /> --}}

    {{! Fonts }}
    <link rel='stylesheet' href='https://use.typekit.net/xol7xgn.css' />
    {{! Icons }}
    <script src='https://kit.fontawesome.com/e0b43907e8.js' crossorigin='anonymous'></script>
    {{! CSS }}
    <link rel='stylesheet' href='/css/reset.css' />
    <link rel='stylesheet' href='/css/utilities.css' />
    <link rel='stylesheet' href='/css/welcome-section.css' />
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/the-list.css' />
    <link rel='stylesheet' href='/css/more-info.css' />
    <link rel='stylesheet' href='/css/search.css' />
    <link rel='stylesheet' href='/css/login.css' />
    <link rel='stylesheet' href='/css/register.css' />
    <link rel='stylesheet' href='/css/my-account.css' />
    <link rel='stylesheet' href='/css/search-results.css' />
    <link rel='stylesheet' href='/css/change-password.css' />
    {{! JavaScript }}
    <script src='/js/main.js' defer></script>

    <title>Bar Fly</title>
  </head>
  <body>

    <header class='header flex'>
      <button class='header__nav-toggle' aria-controls='header__nav-list' aria-expanded='false'>
        <i class='fa-solid fa-bars'></i>
        <i class='fa-sharp fa-solid fa-xmark display-none'></i>
      </button>
      <nav class='header__nav'>
        <ul class='header__nav-list flex' id='header__nav-list' data-visible='false'>
          {{#if logged_in}}
            <li class='header__nav-item'><a class='header__nav-link' href='/'>Home</a></li>
            <li class='header__nav-item'><a class='header__nav-link' href='/the-list'>The List</a></li>
            <li class='header__nav-item'><a class='header__nav-link' href='/search'>Search</a></li>
            <li class='header__nav-item'><a class='header__nav-link' href='/My-Account'>My Account</a></li>
            <li class='header__nav-item'><a class='header__nav-link' href='/logout'>Logout</a></li>
          {{else}}
            <li class='header__nav-item'><a class='header__nav-link' href='/'>Home</a></li>
            <li class='header__nav-item'><a class='header__nav-link' href='/the-list'>The List</a></li>
            <li class='header__nav-item'><a class='header__nav-link' href='/register'>Register</a></li>
            <li class='header__nav-item'><a class='header__nav-link' href='/login'>Login</a></li>
            <li class='header__nav-item'><a class='header__nav-link' href='/search'>Search</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>

    <div class='page-container flex'>
      {{{body}}}
    </div>
  </body>
</html>