<div class='password-change-container flex'>
  <div class='password-change'>
    <div>
      <h1 class='password-change__title'>Change Password</h1>
      <hr class='password-change__divider' />
    </div>
    <form class='password-change-form' autocomplete='off'>
      <div class="password-change-form-container">
        <div class='password-change-form__field flex'>
          <label for='currentPassword' class='password-change-form__label'>Current Password: </label>
          <input
            type='password'
            id='currentPassword'
            name='currentPassword'
            autocomplete='off'
            required
            class='password-change-form__input'
          />
        </div>
        <div class='password-change-form__field flex'>
          <label for='newPassword' class='password-change-form__label'>New Password: </label>
          <input
            type='password'
            id='newPassword'
            name='newPassword'
            autocomplete='off'
            required
            class='password-change-form__input'
          />
        </div>
        <div class='password-change-form__field flex'>
          <label for='confirmPassword' class='password-change-form__label'>Confirm New Password: </label>
          <input
            type='password'
            id='confirmPassword'
            name='confirmPassword'
            autocomplete='off'
            required
            class='password-change-form__input'
          />
        </div>
      </div>
      <button type='submit' class='password-change-form__submit-button primary-button'>Change Password</button>
    </form>
  </div>
</div>
<script src='/js/change-password.js'></script>