<div class='welcome-section flex'>
  <div class='welcome-section__image-container'>
    <img
      class='welcome-section__image'
      src='/img/bg-images/20220518_Stolen_Goods_33.jpg'
      alt='Cocktail bartender standing behind the bar.'
    />
  </div>
  <div class='welcome-section__text-container'>
    <h1 class='welcome-section__heading'>Welcome to BARFLY</h1>
    <h3 class='welcome-section__sub-heading'>A barflies guide to
      <span class='welcome-section__sub-heading--highlight'>Canada's</span>
      top 50 best bars.</h3>

    <p class='welcome-section__description'>Explore the the country's finest
      drinking establishments, as determined by an expert panel of over 60
      judges from across the country.
    </p>
    <button class='welcome-section__button primary-button' data-js='cta'>THE
      LIST</button>
  </div>
</div>
<script src='/js/welcome-page.js'></script>