<div class='welcome-message'>
  <h1>Welcome to BARFLY</h1>
  <h3>A barflies guide to
    <span class='red-hightlight'>Canada's</span>
    top 50 best bars.</h3>

  <p>Explore the the country's finest drinking establishments, as
    determined by an expert panel of over 60 judges from across the country.
  </p>
  <button class='primary-button welcome-cta'>THE LIST</button>
</div>
<script src='/js/welcome-page.js'></script>