<div>
  <img
    class='welcome-image'
    src='/img/bg-images/20220518_Stolen_Goods_33.jpg'
    alt='Cocktail bartender preparing a drink.'
  />
</div>
<div class='welcome-message'>
  <h1 class='text-white'>Welcome to BARFLY</h1>
  <h3 class='text-white'>A barflies guide to
    <span id='canada' class='red-hightlight'>Canada's</span>
    top 50 best bars.</h3>

  <p class='text-white'>Explore the the country's finest drinking
    establishments, as determined by an expert panel of over 60 judges from
    across the country.
  </p>
  <button class='primary-button welcome-cta'>THE LIST</button>
</div>
<script src='/js/welcome-page.js'></script>