<div class="bg-image p-5 text-center shadow-1-strong text-white"      
  style="background-image: url('https://assets.architecturaldigest.in/photos/636b5ddaabea389eef445959/3:2/w_1620,h_1080,c_limit/chastity-cortijo-qu1zGmSr6Lc-unsplash.png'); height: 100vh">

  <h1 class="mb-3 h2">WELCOME!</h1>

  <p>
    Login to gain full access to BarFly
  </p>
</div>