<div class='login-container'>
  <h1>Login to your account</h1>
  <hr />
  <form class='loginForm' autocomplete='off'>
    <div class='form-group'>
      <label for='username'>Username: </label>
      <input type='text' id='username' name='username' />
    </div>
    <div class='form-group'>
      <label for='password'>Password: </label>
      <input type='password' id='password' name='password' />
    </div>
    <button class='primary-button' type='submit'>Login</button>
  </form>
  {{#if error}}
    <div class='error-message'>{{error}}</div>
  {{/if}}
  <div class='login-error'></div>
</div>
<script src='/js/login.js'></script>