.password-change-container {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.password-change {
  position: relative;
  width: 80%;
  max-width: 700px;
  padding: 4rem;
}

.password-change__title {
  line-height: 1;
}

.password-change__divider {
  margin-bottom: 4rem;
}

.password-change-form-container {
  padding-bottom: 2rem;
}

.password-change-form__field {
  /* background-color: aqua; */
  padding-bottom: 2rem;
}

.password-change-form__label {
  flex: 1;
}

.password-change-form__input {
  flex: 2;
}

/* Media Queries */
@media (max-width: 768px) {
  .password-change-container {
    margin-top: 10rem;
    align-items: flex-start;
  }

  .password-change {
    padding: 0;
  }

  .password-change__title {
    font-size: 3rem;
  }

  .password-change__divider {
    margin-bottom: 2rem;
  }

  .password-change-form__field {
    flex-direction: column;
  }

  .password-change-form__label,
  .password-change-form__input {
    font-size: 2rem;
  }


}
