:root {
  font-size: 62.5%; /* Set the base font to 10px*/

  /* Colors */
  --primary-color: black;
  --secondary-color: white;
  --light-grey: #efefef;
  --canada-color: #d80621;
}

body {
  font-family: 'aktiv-grotesk', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.2rem;
}

p,
li,
input,
label,
textarea,
option,
select,
span {
  font-size: 1.8rem;
  color: var(--primary-color);
}

a:visited,
a:active {
  color: var(--primary-color);
}

small {
  font-size: 1.4rem;
}

textarea {
  padding: 1rem;
}

/* Display None */
.display-none {
  display: none;
}

/* Error Messages */
.login-error,
.register-error,
.delete-account-error {
  height: 3rem;
}
.error-message {
  font-size: 1.4rem;
  color: red;
}

/* Bold Font */
.bold {
  font-weight: bold;
}

.larger-text {
  font-size: 2.2rem;
}

#canada {
  font-size: 3rem;
}

/* icons */
.fa-solid {
  font-size: 3rem;
}

/* Primary Button */
.primary-button {
  font-size: 2rem;
  padding: 1rem 2rem;
  border: none;
}

.red-hightlight {
  color: var(--canada-color);
}

.text-white {
  color: var(--secondary-color);
}

.flex {
  display: flex;
}

/* Navigation Bar */

.header {
  background-color: var(--secondary-color);
  position: sticky;
  width: 100vw;
}
.nav__links-container {
  justify-content: flex-end;
  width: 95%;
}

.nav__links-item {
  padding: 2rem;
}

/* Page Container */
.page-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.welcome-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.welcome-message {
  background-color: rgba(0, 0, 0, 0.9);
  width: 90%;
  max-width: 1100px;
  padding: 4rem;
}

.welcome-message > * {
  padding: 1rem 0;
}

.welcome-cta {
  padding: 1rem 2rem;
}

/* The List */
.the-list-title {
  justify-content: space-between;
}

.the-list-title--year {
  font-size: 4.8rem;
  font-weight: bold;
}

.the-list-container {
  margin-top: 2rem;
  width: 90%;
  max-width: 1100px;
}

.the-list-container hr {
  margin-bottom: 4rem;
}

.the-list-item {
  padding: 0rem;
}

.the-list--rank-number {
  font-size: 4.8rem;
}

.bar-card {
  position: relative;
  margin-bottom: 4rem;
}

.bar-card-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--secondary-color);
}

.bar-card-content h3,
.bar-card-content p {
  padding-bottom: 1rem;
}

/* Register */
.register-container {
  width: 90%;
  max-width: 500px;
}

.register-title {
  padding-bottom: 4rem;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  width: 200px;
}

.form-group input {
  flex-grow: 1;
  padding: 5px;
}

.form-group-confirm-password {
  padding-bottom: 2rem;
}

/* Login */
.login-container {
  width: 90%;
  max-width: 500px;
}

/* More Info */
.more-info-container {
  margin-top: 8rem;
  width: 90%;
  max-width: 1100px;
}

.more-info-container > * {
  padding-bottom: 1rem;
}

.more-info-rank-number {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-align: center;
  font-size: 7.2rem;
  width: 10rem;
  height: 10rem;
  border: 2px solid var(--primary-color);
}

.more-info-title {
  justify-content: space-between;
  align-items: baseline;
}

.left-items {
  display: flex;
  align-items: baseline;
}

.left-items h1,
.left-items h2 {
  margin-right: 1rem;
}

.right-item {
  margin-left: auto;
}

.fa-heart {
  color: var(--canada-color);
}

.address-group h3 {
  padding-right: 2rem;
}

.patio-group {
  height: 6rem;
  align-items: center;
  padding: 1rem 0;
}

.patio-group i {
  font-size: 2.2rem;
  padding-left: 1rem;
}

.added {
  font-size: 1.5rem;
}

/* Review Form */
.prev-reviews-container h3 {
  padding: 2rem 0;
}

.review-container {
  flex-direction: column;
  gap: 1rem;
}

.review-textarea {
  height: 8rem;
}

.review-button {
  align-self: flex-start;
}

.prev-reviews-content {
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  background-color: var(--light-grey);
  padding: 2rem;
  margin-bottom: 2rem;
}

/* Home */
.search-container {
  width: 90%;
  max-width: 900px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.search-form label {
  width: 200px;
}

.search-form select {
  flex-grow: 1;
  padding: 5px;
}

/* My Account */
.my-account-container {
  width: 90%;
  max-width: 900px;
}

/* Media Queries */

@media (max-width: 576px) {
  .the-list-title h1,
  .the-list-title span {
    font-size: 2.8rem;
  }
  .the-list--rank-number {
    font-size: 2.2rem;
  }
  .the-list-bar-name {
    font-size: 2rem;
  }
  .the-list-city-province {
    font-size: 1.4rem;
  }
  .primary-button {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .the-list--rank-number {
    font-size: 2.8rem;
  }
  .the-list-bar-name {
    font-size: 2.2rem;
  }
  .the-list-city-province {
    font-size: 1.6rem;
  }
  .primary-button {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .the-list--rank-number {
    font-size: 3.2rem;
  }
  .the-list-bar-name {
    font-size: 2.8rem;
  }
  .the-list-city-province {
    font-size: 2rem;
  }
  .primary-button {
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
  }
}
