:root {
  font-size: 62.5%; /* Set the base font to 10px*/

  /* Colors */
  --primary-color: #931f1d;
  --secondary-color: #2b2d42;
  --light-shade: #edf2f4;
  --medium-shade: #8d99ae;
  --dark-shade: #0c0f12;
}

body {
  font-family: 'aktiv-grotesk', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
}

small {
  font-size: 1.4rem;
}

#main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-shade);
}

.container {
  display: flex;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.main-view {
  border: 1px solid black;
  width: 50%;
}

#headerSection {
  background-color: var(--secondary-color);
}

.info {
  background-color: #931f1d;
}

.text {
  color: var(--light-shade);
}

.text-sub {
  color: var(--medium-shade);
}